.circle {
  width: 20px;
  height: 20px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 220ms linear;
  border: 2px solid $blue;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.mobile-menu{
  .circle {
    width: 20px;
    height: 20px;

    &:hover {
      border: 2px solid $white;
    }
  }
}

.socials{
  display: flex;
  margin-top: -10px;

  a{
    margin-left: 8px;
    font-size: 16px;
    line-height: 16px;

    &:first-child{
      margin-left: 12px;
    }

    &:hover{
      text-decoration: none;
    }
  }
}


.mobile-menu{
  .socials{
    margin-left: 16px;
    margin-top: 0!important;

    a{
      margin-left: 16px;
      font-size: 16px;
      line-height: 16px;
      color: $white;

      &:first-child{
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $tablet){
  .socials {
    margin-top: 2px;
  }
}

@media (max-width: $tabletV){
  footer{
    .socials{
      display: flex;
      justify-content: center;

      &.socials-desk{
        display: none;
      }

      &.socials-mob{
        display: flex;
      }
    }
  }
}




