.weitere-informationen{
  background-color: $grey-weitere-informationen-bg;
  padding: 48px 0 60px;
  box-sizing: border-box;

  .weitere-informationen-title{
    font-family: $helvetica-bold;
    margin-bottom: 28px;
    font-size: 25px;
    line-height: 30px;
    color: #616161;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }


  .links{
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    a{
      width: 50%;
      box-sizing: border-box;
      font-size: 18px;
      color: $orange;
      font-family: $helvetica-light;
      line-height: 20px;
      text-decoration: none;
      display: flex;
      align-items: flex-start;
      margin-bottom: 24px;

      &:hover{
        span{
          text-decoration: underline;
        }
      }

      &.right{
        padding: 0 0 0 2%;
      }
      &.left{
        padding: 0 2% 0 0;
      }

      &:after{
        display: none;
      }

      img{
        margin-right: 8px;
        margin-top: -5px;
        width: 25px;
        height: auto;
      }

      span{
        width: 100%;
        word-break: break-all;
      }
    }
  }

}


@media (max-width: $mob){
  .weitere-informationen{
    padding: 36px 0 34px;

    .weitere-informationen-title{
      margin-bottom: 28px;
      font-size: 20px;
      line-height: 24px;
      margin-top: 0;
    }


    .links{
      display: block;

      a{
        margin-bottom: 30px;
        width: 100%;

        &.right{
          padding: 0;
        }
        &.left{
          padding: 0;
        }
      }
    }
  }
}