@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=2555c086-8ff6-47ec-8a1e-c45b8f10c050&fontids=5924659,5924750");
@font-face{
  font-family:"CocogooseCompressed W03 Regula";
  src:url("../fonts/5924659/02679db2-882b-47c8-99dd-8488864bd68f.woff2") format("woff2"),url("../fonts/5924659/76d716de-b7d1-471e-ad1b-47a98a306cc3.woff") format("woff");
}
@font-face{
  font-family:"CocogooseCompressed W03 Bold";
  src:url("../fonts/5924750/852b56ac-4a64-466f-b942-08bf52bb5f53.woff2") format("woff2"),url("../fonts/5924750/24c9b0a3-ce47-49b2-98cd-7a1aeb44f98f.woff") format("woff");
}