@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/HelveticaBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/HelveticaBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/HelveticaBold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/HelveticaBold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/HelveticaBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/HelveticaBold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/HelveticaBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/HelveticaRegular.otf") format("opentype"), /* Open Type Font */
  url("../fonts/HelveticaRegular.svg") format("svg"), /* Legacy iOS */
  url("../fonts/HelveticaRegular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/HelveticaRegular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/HelveticaRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/helvetica-light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/helvetica-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/helvetica-light.otf") format("opentype"), /* Open Type Font */
  url("../fonts/helvetica-light.svg") format("svg"), /* Legacy iOS */
  url("../fonts/helvetica-light.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/helvetica-light.woff") format("woff"), /* Modern Browsers */
  url("../fonts/helvetica-light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Oblique";
  src: url("../fonts/Helvetica-Oblique.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Helvetica-Oblique.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Helvetica-Oblique.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Helvetica-Oblique.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Helvetica-Oblique.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Helvetica-Oblique.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Helvetica-Oblique.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNowTextBlack';
  src: url(../fonts/HelveticaNowTextBlack.eot);
  src: url(../fonts/HelveticaNowTextBlack.eot?#iefix) format('embedded-opentype'),
  url(../fonts/HelveticaNowTextBlack.otf) format('otf'),
  url(../fonts/HelveticaNowTextBlack.svg#HelveticaNowTextBlack) format('svg'),
  url(../fonts/HelveticaNowTextBlack.ttf) format('truetype'),
  url(../fonts/HelveticaNowTextBlack.woff) format('woff'),
  url(../fonts/HelveticaNowTextBlack.woff2) format('woff2');
}

@font-face {
  font-family: 'HelveticaNowTextBold';
  src: url(../fonts/HelveticaNowTextBold.eot);
  src: url(../fonts/HelveticaNowTextBold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/HelveticaNowTextBold.otf) format('otf'),
  url(../fonts/HelveticaNowTextBold.svg#HelveticaNowTextBold) format('svg'),
  url(../fonts/HelveticaNowTextBold.ttf) format('truetype'),
  url(../fonts/HelveticaNowTextBold.woff) format('woff'),
  url(../fonts/HelveticaNowTextBold.woff2) format('woff2');
}

@font-face {
  font-family: 'HelveticaNowTextRegular';
  src: url(../fonts/HelveticaNowTextRegular.eot);
  src: url(../fonts/HelveticaNowTextRegular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/HelveticaNowTextRegular.otf) format('otf'),
  url(../fonts/HelveticaNowTextRegular.svg#HelveticaNowTextRegular) format('svg'),
  url(../fonts/HelveticaNowTextRegular.ttf) format('truetype'),
  url(../fonts/HelveticaNowTextRegular.woff) format('woff'),
  url(../fonts/HelveticaNowTextRegular.woff2) format('woff2');
}