// Colors
$white: #fff;
$black: #000000;
$black_ligther: #050505;

$red: #F73E91;
$yellow: #E1C342;
$orange: #ff2d18;
$blue: #45436c;
$purple_dark: #45436C;

$grey_light: #e8e8e8;
$grey_medium: #BDBDBD;
$grey_dark: #7D7D7D;

$grey-slider-buttons: #BDBDBD;
$grey-checkbox: #D8D8D8;
$grey-logos-bg: #676869;
$grey-weitere-informationen-bg: #ECEEF2;
$grey-search: #B4B4B4;
$loader: #B4B4B4;
$submenu-border: #cbcbcb;


// Containers
$container-main: 1164px;
$container-min: 922px;
$container-header-text: 550px;
$container-form: 930px;

// Fonts
$helvetica-light: 'HelveticaNowTextRegular';
$helvetica-oblique: 'Helvetica-Oblique';
$helvetica-bold: 'HelveticaNowTextBold';
$helvetica-now-text-black: 'HelveticaNowTextBlack';
$helvetica-regular: 'HelveticaNowTextRegular';



// Responsive
$tablet: 1200px;
$tabletV: 1024px;
$mobH: 920px;
$mob: 767px;