.home-header {
  width: 100%;
  height: 100vh;
  padding-top: 160px;
  min-height: 970px;
  position: relative;
  background-color: $grey_light;

  .home-header-slider{
    height: 100vh;
    min-height: 970px;
  }

  .home-header-bg{
    background-color: $orange;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 970px;
    position: relative;

    .triangle-top{
      @include triangle();
      bottom: -2px;
      height: 325px;
      z-index: 2;
      width: 101%;
    }

    .home-header-bg-filter{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $orange;
      background: linear-gradient(90deg, rgba(255,45,24,0.2) 0%, rgba(255,45,24,0.8) 60%, rgba(255,45,24,0.8) 100%);
      z-index: 1;
    }
  }

  .home-header-content-custom{
    display: flex;
    align-items: center;
    height: calc(100vh - 160px);
    min-height: 760px;

    .image{
      width: 50%;
      padding-right: 15px;
      box-sizing: border-box;

      img{
        width: 100%;
        height: auto;
      }
    }
    .content{
      width: 50%;

      .date{
        margin: 8px 0 15px;
        font-family: $helvetica-regular;
        font-size: 14px;
        line-height: 17px;
      }

      h1{
        font-size: 92px;
        line-height: 100px;
        margin-bottom: 34px;
        margin-top: 20px;
      }
    }
  }

  .home-header-content-news{
    display: flex;
    align-items: flex-start;
    height: 100vh;
    min-height: 970px;
    position: relative;
    z-index: 3;
    padding-top: 120px;

    > div{
      width: 51%;
      padding-left: 49%;
      position: relative;
      z-index: 3;
    }

    h1{
      font-size: 74px;
      line-height: 130px;
      margin-bottom: 22px;
      font-family: $helvetica-now-text-black;
      color: $blue;
      hyphens: auto;
      word-break: break-word;

      span {
        box-shadow: 0 10px 0 rgba($white,1), 0 -3px 0 rgba($white,1);
        background-color: rgba($white,1);
        -webkit-box-decoration-break: clone;
        color: $blue;
        line-height: 130px;
        padding: 0 10px;
      }

      &:after{
        content: ' .';
        visibility: hidden;
        line-height: 0;
        font-size: 0px;
      }
    }

    .date{
      font-family: $helvetica-bold;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 20px;
      margin-top: 0;
    }

    .divider{
      @include divider($white);
    }

    p{
      font-family: $helvetica-light;
      font-size: 20px;
      color: $white;
      line-height: 32px;
      margin: 30px 0 0;
    }

    .link{
      margin-top: 34px;
    }
  }

}

@media (max-width: 1400px){
  .home-header {
    min-height: 670px;

    .home-header-slider{
      min-height: 670px;
    }

    .home-header-bg{
      min-height: 670px;
    }

    .home-header-content-news{
      min-height: 670px;

      > div{
        width: 90%;
        padding-left: 0%;
        margin: 0 auto;
      }
    }
  }
}


@media (max-width: $tablet){
  .home-header {
    padding-top: 54px;
    min-height: 670px;

    .home-header-slider{
      min-height: 670px;
    }

    .home-header-bg{
      min-height: 670px;
    }

    .home-header-content-news{
      min-height: 670px;
      padding-top: 54px;

      > div{
        width: 90%;
        padding-left: 0%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: $tabletV){
  .home-header {
    height: unset;
    min-height: unset;
    background-color: $white;

    .home-header-slider{
      height: unset;
      min-height: unset;
    }

    .home-header-bg{
      height: unset;
      min-height: unset;
      background-color: $white;

      .triangle-top{
        @include triangle_tablet();
      }

      &.home-header-bg-news{
        background-color: $grey_light;
        height: 600px;
        min-height: unset;
        margin-top: 0;
      }
    }

    .home-header-content-news{
      height: 600px;
      min-height: unset;
      padding-top: 60px;

      > div{
        width: 90%;
        margin: 0 auto;
        padding-left: 0;
      }

      h1{
        font-size: 38px!important;
        line-height: 78px!important;
        margin-top: 0;

        span{
          line-height: 72px!important;
          box-shadow: 0 10px 0 rgba($white,1), 0 -3px 0 rgba($white,1);
        }
      }

      p{
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}


@media (max-width: $mob){
  .home-header {

    .home-header-bg {
      &.home-header-bg-news{
        height: unset;
        min-height: 500px;
      }

      .triangle-top {
        @include triangle_mob();
      }
    }

    .home-header-content-news {
      height: unset;
      min-height: 500px;
      padding-bottom: 100px;
    }

  }
}