.page-header{
  background-color: $orange;
  padding: 175px 0 36px;

  .container-header-text{
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  h1{
    width: 50%;
    font-size: 74px;
    line-height: 90px;
    margin-bottom: 90px;
    font-family: $helvetica-now-text-black;
    color: $white;
    hyphens: auto;
    word-break: break-word;
    background-color: $black;
    border-radius: 8px;
    padding: 18px;
    box-sizing: border-box;
    transform: rotate(-6deg);
    margin-left: 10px;

    //span {
    //  box-shadow: 0 15px 0 rgba($white,1), 0 -3px 0 rgba($white,1);
    //  background-color: rgba($white,1);
    //  -webkit-box-decoration-break: clone;
    //  color: $blue;
    //  line-height: 140px;
    //  padding: 0 10px;
    //}
    //
    //&:after{
    //  content: ' .';
    //  visibility: hidden;
    //  line-height: 0;
    //  font-size: 0px;
    //}
  }

  .text {
    width: 50%;
    padding-left: 50px;
    margin-top: -16px;

    p {
      margin-bottom: 0;
      font-family: $helvetica-regular;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 0.01px;
    }
  }
}


@media (max-width: $tablet) {
  .page-header {
    padding: 90px 0 40px;
  }
}

@media (max-width: $tabletV){
  .page-header{
    background-color: $orange;
    padding: 70px 0 20px;

    .container-header-text{
      display: block;
    }

    h1{
      width: 70%;
      font-size: 38px!important;
      line-height: 50px!important;
      margin-top: 0;
      padding: 10px;
      transform: rotate(-3deg);
      margin-left: -6px;
      margin-bottom: 0;

      //span{
      //  box-shadow: 0 5px 0 rgba($white,1), 0 -3px 0 rgba($white,1);
      //  line-height: 52px;
      //}
    }

    .heading1{
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 22px;
      margin-top: 10px;
    }

    .long-title{
      margin-bottom: 16px;
    }

    .text {
      margin-top: 60px;
      width: 100%;
      padding-left: 0;

      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: $mob){
  .page-header{

    h1{
      width: 100%;
      margin-left: 0;
    }
  }
}